body{
    font-family: 'Gabriela', sans-serif;
    color: black;
    font-size: 15px;
}

.bg-third:hover{
    background-color: #8A2BE2 !important;
    font-weight: bold;
}

.bg-primary{
    background-color: #8A2BE2 !important;
}

.bg-dark{
    background-color:#4B0082 !important;
}

footer{
    font-family: 'Arino', sans-serif;
    color: #C0C0C0;
    font-size: 10px;
}

.btn-primary{
    background-color: #8A2BE2 !important;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #4B0082 !important;
}
